BasedOnStyle: LLVM
ColumnLimit: 120

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakStringLiterals: true

# Make breaking lines "cheap"
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakAssignment: 2
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 0
PenaltyBreakOpenParenthesis: 0
PenaltyBreakString: 1

PenaltyExcessCharacter: 1000000
